.Header {
  background: var(--black);
  color: var(--white);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  font-size: 2rem;
}

.Header > .Link__none {
  color: var(--white);
}
