@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

:root {
  --black: rgb(0, 27, 67);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.Link__none {
  text-decoration: none;
}
